{% extends 'base.html' %}
{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}
{% block content %}
<div class="row">
    <h1 class="col-8 col-md-6 display-2">Интернет-магазин одежды и обуви</h1>
    <img src="https://img.freepik.com/free-vector/horizontal-isometric-fashion-clothes-flowchart-with-trendy-female-outfits-accessories-diagrams-editable-text-3d-vector-illustration_1284-72778.jpg?w=996&t=st=1710775440~exp=1710776040~hmac=c7af6a45282318a665c9b99b3d69cb5711220449efc8cd877ea202da499d1a21"
    class="col-5 col-md-6img-fluid img-thumbnail" alt="Логотип">
</div>
{% endblock %}